nav {
    width: auto;
    height:auto;
    background-image: url("../../Images//Header.png");
}





nav .navbar-collapse a {
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 25px;
    font-size: 20px;
}

 nav .logo {
    margin-left: 5px;
   
}


nav button {
    background-color: var(--orange-color);
    padding: 15px 30px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    border-width: 2px;
    line-height: 1.2;
    color: white;
    margin-right: 150px;
}

nav button:hover {
    background-color: var(--main-color);
    transition: 1s ease-in-out;
}



@media only screen and (max-width : 992px) {
    nav .navbar-nav {
        left: 0;
        transition: all .8s;
        margin: 0;
        width: 100%;
        padding: 15px 15px 5px;
        height: 100vh;
        
    }

    nav .nav-btn button {
        width: 85%;
    }

}


.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 97px;
    z-index: 1030;
}